.cart-header-container {
    display: flex;
    padding: 5px;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    margin: 5px 9px;
}
.cart-item-header {
    padding-right: 5rem;
    padding-left: 5rem;
    color: #878787;
}

.cart-qty-header {
    padding-left: 5rem;
    padding-right: 3rem;
}

.cart-container{
    float: left;
    width: 30%;
}
.cart-items-container {
    display: grid;
    color: #878787;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e2e2e2;
    margin: .5rem;
}
.cart-item-img {
    width: 2rem;
    height: 2rem;
    float: left;
    padding: 5px;
}
.cart-item-name {
    display: inline-block;
    text-overflow: ellipsis;
    width: 8rem;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px 5px;

}
.cart-item-remove {
    padding: 10px 5px;
}
.cart-items-row {
    display: flex;
    padding: 4px 0px;
}
.cart-items {
    display: flex;
    border: 1px solid #e2e2e2;
    padding: 5px;
}
.cart-item-count {
    width: 25px;
    font-size: 14px;
    height: 25px;
    font-weight: 500;
    border: 1px solid #e2e2e2;
    text-align: center;
    color: #878787;
}
.cart-qty-container {
    padding: 10px;
    line-height: 2rem;
}
.cart-item-price {
    line-height: 2rem;
    padding: 10px 0;
    color: #878787;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 4rem;
}
.cart-items-incrementor {
    width: 28px;
    height: 28px;
    background: linear-gradient(#fff,#f9f9f9);
    display: inline-block;
    border: 1px solid #c2c2c2;
    cursor: pointer;
    color: #878787;
    font-size: 1rem;
    border-radius: 50%;
    padding-top: 1px;
    line-height: 1;
}

 .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    transition: 0.3s;
    line-height: 1.5rem;
  }
  .grid-item-left {
    padding-left: 10px;
    padding-top: 5px;
    font-size: 1rem;
    text-align: left;
  }
  .grid-item-separator {
    padding: 5px;
    font-size: 1rem;
    text-align: center;
  }
  .grid-item-right {
    padding: 5px;
    font-size: 1rem;
    text-align: right;
  }
  .cart-summary {
      color: #878787;
  }
  .cart-summary-header{
      font-size: 1rem;
      padding-left: 10px;
      padding-top: 5px;
      font-weight: bold;
  }
  .cart-backgroundColor{
  background-color:#e6e6e6;
  }
  .cart-summary {
      border: 3px solid #e2e2e2;
      margin: 15px;
  }
  