.shopping-container {
  display: block;
  width: 100%;
  height: auto;
  float: left;
}
.cart-empty-container {
  float: left;
  padding: 2rem;
  font-size: 2rem;
}
.shopping-items-container {
    display: grid;
    grid-auto-columns: minmax(10rem, auto);
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    grid-gap: 1rem;
}
.shopping-items-name-price
{
  // height: 3rem;
  position: relative;
}
.shopping-item {
  border: 2px solid #e2e2e2;
}
.shopping-left-container {
  position: relative;
}
.shopping-right-container {
    padding: 10px 10px;
    background-color: #e2e2e2;
    line-height: 2rem;
}

.shopping-item-image {
  width: 8rem;
  height: 8rem;
  padding: 1rem 1rem;
}
.shopping-items-incrementor {
  width: 2rem;
  height: 2rem;
  background: linear-gradient(#fff,#f9f9f9);
  display: inline-block;
  border: 1px solid #c2c2c2;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 50%;
  padding-top: 1px;
  line-height: 1;
}
.shopping-item-price-container {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 700;
  display: flex;
  position: relative;
}
.shopping-item-name{
    color: #222020;
    font-size: 1rem;
    line-height: 2rem;
    padding: 0 5px;
}
.shopping-item-display {
  text-decoration: line-through;
  text-decoration-style:solid;
  text-decoration-color: red;
  color: #878787;
  padding: 0 5px;
}
.shopping-item-discount{
  position: absolute;
  top: 1rem;
  background: #388e3c;
  color: #fff;
  padding: 0 5px;
  font-weight: 900;
  line-height: 1.5rem;
  height: 1.5rem;
}
.shopping-item-count {
  width: 35px;
  padding: 0 5px;
  margin: 0 5px;
  text-align: center;
}

.shopping-item-addtocart {
  color:#3bb2c7;
  border: 1px solid #3bb2c7;
  border-radius: 4px;
  font-size: .875rem;
  line-height: 2rem;
}


@media only screen and (min-width: 1023px) {
    .shopping-item-addtocart {
      color:#3bb2c7;
      border: 1px solid #3bb2c7;
      border-radius: 4px;
      line-height: 1rem;
      position: absolute;
      right: 2px;
      top: 7px;
      font-size: .875rem;
      line-height: 2rem;
  }

  .shopping-container {
    width:69%;
  }
  .shopping-items-container {
    grid-auto-columns: minmax(15rem, auto);
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
  
  .shopping-item-price-container {
    line-height: 1rem;
  }
  
  .shopping-item-image {
    width: 12rem;
    height: 12rem;
    padding: 1rem 2rem;
  }

}
