.cart-header-container {
    padding: 5px;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    display: grid;
    margin: auto auto;
    grid-template-columns: auto auto auto; 
    span {
        margin: auto auto;
        color: #878787;
    }
}
.cart-item-header {
    width: 7rem;
}

.cart-items-container {
    color: #878787;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e2e2e2;
    margin: .5rem;
}
.cart-items-row {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 4px 4px;
}
.cart-items {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0px;
    border: 1px solid #e2e2e2;
}
.cart-item-img {
    width: 2rem;
    height: 2rem;
    margin: 5px 5px;
}
.cart-item-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 8rem;
    margin: auto 0;
}
.cart-item-remove {
    margin: auto 5px;
}
.cart-qty-container {
    margin: auto;
    line-height: 2rem;
}

.cart-item-count {
    width: 20px;
    font-size: 14px;
    height: 20px;
    font-weight: 500;
    border: 1px solid #e2e2e2;
    text-align: center;
    color: #878787;
}


.cart-items-incrementor {
    width: 1.5rem;
    height: 1.5rem;
    background: linear-gradient(#fff,#f9f9f9);
    border: 1px solid #c2c2c2;
    cursor: pointer;
    color: #878787;
    font-size: 14px;
    border-radius: 50%;
    padding-top: 1px;
}
.cart-item-price {
    color: #878787;
    text-align: end;
    margin: auto;
    width: 4rem;
}

 .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    transition: 0.3s;
    line-height: 1.5rem;
  }
  .grid-item-left {
    padding-left: 10px;
    padding-top: 5px;
    font-size: 1rem;
    text-align: left;
  }
  .grid-item-separator {
    padding: 5px;
    font-size: 1rem;
    text-align: center;
  }
  .grid-item-right {
    padding: 5px;
    font-size: 1rem;
    text-align: right;
  }
  .cart-summary {
      color: #878787;
  }
  .cart-summary-header  {
      font-size: 1rem;
      padding-left: 10px;
      padding-top: 5px;
      font-weight: bold;
  }
  .cart-backgroundColor {
    background-color:#e6e6e6;
  }
  .cart-summary {
      border: 3px solid #e2e2e2;
      margin: 15px;
  }

  @media only screen and (min-width: 1023px) {
    .cart-container {
        width: 30%;
        float: left;
    }
  }